
@font-face {font-family: "icon-font";
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#icon-font') format('svg'); /* iOS 4.1- */
}

.icon-font {
    font-family:"icon-font" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before { content: "\e600"; }

.icon-rili:before { content: "\e601"; }

.icon-shuaxin:before { content: "\e602"; }

.icon-you:before { content: "\e603"; }

.icon-you1:before { content: "\e604"; }

.icon-you2:before { content: "\e606"; }

.icon-tuichu:before { content: "\e605"; }

.icon-zuo:before { content: "\e607"; }

.icon-project:before { content: "\e617"; }

.icon-xiugaimima:before { content: "\e61a"; }

.icon-zhuye:before { content: "\e609"; }

.icon-tongji:before { content: "\e691"; }

.icon-buga:before { content: "\e608"; }

.icon-zuzhi:before { content: "\e647"; }

.icon-xianxing_fuhua:before { content: "\e61d"; }
